<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="big-pharma-tool" ng-controller="app-controller">
<head>
    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="curerow">
            <div class="family"></div>
            <div class="effects">
                <div class="cureset" ng-repeat="level in levels">
                    <div class="cure" ng-click="sort(level)">
                        <div>
                            <label>Level {{level + 1}}</label>
                        </div>
                        <div>Avg: {{avg(level) | currency : $ : 0 }}</div>
                    </div>
                    <div class="react"></div>
                </div>
            </div>
        </div>
        <div class="curerow" ng-repeat="family in effectFamilies">
            <div class="family">{{family.name}}</div>
            <div class="effects">
                <div class="draggable" bp-draggable>
                    <div class="cureset" ng-repeat="effect in family.effects">
                        <div class="cure" ng-class="'level' + effect.level">
                            <div>
                                <label ng-class="'level' + effect.level">{{effect.id}}</label>
                                <span class="price pull-right">
                                    $ <input type="number" ng-model="effect.price" /><br/>
                                    {{ dev(effect) }}
                                </span>
                            </div>
                            <div class="conc">
                                {{effect.boundary[0]}} - {{effect.boundary[1]}} <i></i>
                            </div>
                            <ul class="boundary">
                                <li ng-repeat="box in boxes" ng-class="boxClass(effect, box)"></li>
                            </ul>
                        </div>
                        <div class="react" ng-show="effect.reaction">
                            <div>
                                <label>{{effect.reaction.upgrade.machine}}</label>
                            </div>
                            <div class="upgradeconc">
                                <span ng-show="effect.reaction.upgrade.combine">
                                    <i ng-class="effect.reaction.upgrade.combine"></i> +
                                </span>
                                <div class="conc">
                                    {{effect.reaction.upgrade.conc[0]}} - {{effect.reaction.upgrade.conc[1]}} <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pre>{{effectFamilies | json}}</pre>

    <script src="Lib/jquery-2.1.4.js"></script>
    <script src="Lib/bootstrap.js"></script>
    <script src="Lib/angular.js"></script>
    <script src="Scripts/pharmatool.js"></script>
</body>
</html>
